name: docker-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag spring-boot-4-openapi-archetype:$(date +%s)